{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en" }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                {% translate "Credrails" %}
            {% endblock title %}
        </title>
        {% block styles %}
            <style>
                body {
                    font-family: Arial, sans-serif;
                    margin: 20px;
                    background-color: #f4f4f4;
                    color: #333;
                }
            </style>
        {% endblock styles %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
